[Unit]
Description=Viam Services Agent
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=10
ConditionPathExists=/etc/viam.json

[Service]
Type=exec
Restart=always
RestartSec=1
User=root
TimeoutSec=600
ExecStart=/opt/viam/bin/viam-agent --config /etc/viam.json

[Install]
WantedBy=multi-user.target
