<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.viam.agent</string>

    <!-- launchd starts agent with a minimal environment where HOME is unset. Manually set
    it to /var/root as it should be for the root user. -->
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/var/root</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/viam/bin/viam-agent</string>
        <string>--config</string>
        <string>/etc/viam.json</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/viam-agent.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/viam-agent.log</string>

    <!-- If you change this, make sure to update launchdExitTimeout in launchd code to match. -->
    <key>ExitTimeOut</key>
    <integer>240</integer>
</dict>
</plist>
