[Unit]
Description=Viam Services Agent
After=NetworkManager.service
After=bluetooth.service
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=always
RestartSec=5
User=root
TimeoutSec=240
ExecStart=/opt/viam/bin/viam-agent --config /etc/viam.json
KillMode=mixed
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
